<%- include('partials/header') %>
  <section class="panel narrow">
    <h1>Editor login</h1>
    <% if (errors.length) { %>
      <div class="errors">
        <% errors.forEach((error) => { %><p><%= error.msg %></p><% }) %>
      </div>
    <% } %>
    <form method="post" action="/login" novalidate>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" value="<%= values.email || '' %>" autocomplete="username" required maxlength="254">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" autocomplete="current-password" required minlength="12" maxlength="128">
      <button type="submit">Log in</button>
    </form>
  </section>
<%- include('partials/footer') %>
