<%- include('../partials/head') %>

  <h1><%= mode === 'edit' ? 'Edit project' : 'New project' %></h1>

  <% if (errors && errors.length) { %>
    <ul class="errors">
      <% errors.forEach(function (e) { %><li><%= e %></li><% }) %>
    </ul>
  <% } %>

  <form class="form" method="post" action="<%= action %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>
      Title
      <input type="text" name="title" value="<%= project.title %>" required maxlength="120">
    </label>
    <label>
      Description
      <textarea name="description" rows="5" maxlength="2000"><%= project.description %></textarea>
    </label>
    <label>
      Link (http/https)
      <input type="url" name="link" value="<%= project.link %>" maxlength="2048" placeholder="https://example.com">
    </label>
    <label>
      Image URL (http/https)
      <input type="url" name="imageUrl" value="<%= project.imageUrl %>" maxlength="2048" placeholder="https://example.com/image.png">
    </label>
    <div class="form-actions">
      <button type="submit"><%= mode === 'edit' ? 'Save changes' : 'Create project' %></button>
      <a class="btn-secondary" href="/admin">Cancel</a>
    </div>
  </form>

<%- include('../partials/foot') %>
