<%- include('partials/header') %>
<h1>Log in</h1>
<%- include('partials/errors') %>
<form action="/login" method="post" class="card form" autocomplete="on">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label>Email
    <input type="email" name="email" value="<%= values.email || '' %>" required maxlength="254" autocomplete="email">
  </label>
  <label>Password
    <input type="password" name="password" required maxlength="200" autocomplete="current-password">
  </label>
  <button type="submit">Log in</button>
</form>
<p>No account yet? <a href="/register">Register</a>.</p>
<%- include('partials/footer') %>
