<%- include('../partials/header') %>
<section class="card">
  <h1>My appointments</h1>
  <% if (!appointments.length) { %>
    <p>You have no appointments.</p>
  <% } else { %>
    <table>
      <thead><tr><th>When</th><th>Patient</th><th>Reason</th><th>Status</th></tr></thead>
      <tbody>
        <% appointments.forEach(function (a) { %>
          <tr>
            <td><%= a.scheduled_at %></td>
            <td><%= a.patient_name %></td>
            <td><%= a.reason %></td>
            <td><span class="status status-<%= a.status %>"><%= a.status %></span></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</section>
<%- include('../partials/footer') %>
