<%- include("partials/header", { title }) %>
<section class="auth">
  <h1>Sign in</h1>
  <%- include("partials/errors", { errors }) %>
  <form method="post" action="/login" class="stack">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>
      Username
      <input name="username" maxlength="40" autocomplete="username" value="<%= values.username || '' %>" required>
    </label>
    <label>
      Password
      <input type="password" name="password" minlength="12" maxlength="128" autocomplete="current-password" required>
    </label>
    <button type="submit">Sign in</button>
  </form>
</section>
<%- include("partials/footer") %>
