<article class="card">
  <div class="card-head">
    <a class="author" href="/u/<%= photo.username %>">@<%= photo.username %></a>
    <span class="time"><%= photo.created_at %></span>
  </div>
  <a href="/photos/<%= photo.id %>">
    <img class="photo" src="/uploads/<%= photo.filename %>" alt="<%= photo.caption || 'photo' %>" loading="lazy">
  </a>
  <div class="card-body">
    <% if (photo.caption) { %><p class="caption"><%= photo.caption %></p><% } %>
    <div class="actions">
      <form action="/photos/<%= photo.id %>/like" method="post" class="inline">
        <button type="submit" class="like <%= photo.likedByMe ? 'on' : '' %>">
          <%= photo.likedByMe ? '♥' : '♡' %> <%= photo.likes %>
        </button>
      </form>
      <a class="comment-link" href="/photos/<%= photo.id %>">💬 <%= photo.comments %></a>
    </div>
  </div>
</article>
